<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>linux详细信息页面</title>
    <style type="text/css">
        td {
            font-size: 18px !important;
        }
    </style>
</head>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body>
<table class="table table-hover table-bordered">
    <thred>
        <th class="text-center h3"><b>账号密码管理</b></th>
        <th class="text-center h3"><b style="color: red">只显示当前用户的账号</b></th>
        <th class="text-center">
            <a href="{% url 'password:password_create' %}"  class="btn btn-success" style="font-weight: bold;width: 180px">添加账号密码</a>
        </th>
        <th class="text-center" style="right: 80%">
            <form class="form-check-inline my-lg-0" id="search_data" method="get" action="{% url "password:password_search"%}">
                <input class="form-control mr-sm-2" type="search" placeholder="密码管理Search" name="search" value="{{ pwd }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
            </form>
        </th>
    </thred>
</table>
<table class="table table-hover table-bordered">
    <thred>
        <th class="text-center">序号</th>
        <th class="text-center">系统名称</th>
        <th class="text-center">账号</th>
        <th class="text-center">密码</th>
        <th class="text-center">备注</th>
        <th class="text-center">编辑</th>
        <th class="text-center">删除</th>
    </thred>
    {% for a in pages %}
        <tr class="text-center">
            <td>{{ forloop.counter|add:pagenum }}</td>
            <td>{{ a.system_name }}</td>
            <td>{{ a.account }}</td>
            <td>{{ a.password }}</td>
            <td>{{ a.remark }}</td>
            <td><a href="{% url 'password:password_update' a.id %}" class="btn btn-success btn-sm" style="width: 80%;font-size: 15px;font-weight: bold;">编辑</a></td>
            <td><a href="{% url 'password:password_delete' a.id %}" class="btn btn-success btn-sm" style="width: 80%;font-size: 15px;font-weight: bold;">删除</a></td>
        </tr>
    {% endfor %}
</table>

<div style="position: fixed ! important;left: 50%;top: 92%;transform:translateX(-50%)">
<center>
    {% if pages.has_previous %}
    <button class="btn"><a href="?page={{ pages.previous_page_number }}">上一页</a></button>
{% endif %}
 <span>
    {% for p in pages.paginator.page_range %}
     {% ifequal p pages.number %}
     <button class="current btn" style="background: red"><b>{{p}}</b></button>
     {% else %}
     <a href="?page={{p}}" title="第{{p}}页"><button class="btn "><b>{{p}}</b></button></a>
     {% endifequal %}
     {% endfor %}
 </span>
 {% if pages.has_next %}
        <button class="btn"><a href="?page={{ pages.next_page_number }}">下一页</a></button>
 {% endif %}
    <button class="btn" style="background: blueviolet"><b>[{{ pages.number }}/{{ pages.paginator.num_pages }}]</b></button>
</center>
</div>

</body>
{% endblock content %}
</html>


