<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加linux主机</title>
</head>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body>
<div class="container">
        </br>
            <!-- 提交文章的表单 -->
        <form id="testform" method="post" action="." enctype="multipart/form-data">
            <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
            <div class="row" style="margin-left: 400px">
                <div class="form-group">
                    <label><b>系统名称</b></label>
                    <input type="text" style="width: 235%" class="form-control" id="system_name" name="system_name" placeholder="系统名称">
                </div>
            </div>

            <div class="row" style="margin-left: 400px">
                <div class="form-group">
                    <label><b>账号</b></label>
                    <input type="text" style="width: 235%" class="form-control" id="account" name="account" placeholder="账号">
                </div>
            </div>

            <div class="row" style="margin-left: 400px">
                <div class="form-group">
                    <label><b>密码</b></label>
                    <input type="text" style="width: 235%" class="form-control" id="password" name="password" placeholder="密码">
                </div>
            </div>

             <div class="row" style="margin-left: 400px">
                <div class="form-group">
                    <label><b>用户</b></label>
                    <input type="text" style="width: 235%" readonly="readonly" class="form-control " id="auther" name="auther" value="{{ request.session.user_name }}" >
                </div>
            </div>

            <div class="row" style="margin-left: 400px">
                <div class="form-group input-xlarge">
                    <label><b>备注</b></label>
                    <textarea type="text" class="form-control" style="width: 260%;line-height: 4" id="remark" name="remark" placeholder="备注"></textarea>
                </div>
            </div>

            <div class="row" style="margin-left: 400px">
            <!-- 测试按钮 -->
            <button type="submit" class="btn btn-success" style="width: 15%;font-size: 15px;font-weight: bold;">完成</button>
            <!-- 提交按钮 -->
            </div>
        </form>
</div>
{% endblock content %}
</body>
</html>