<!-- 载入静态文件,模板中要加上 {% load staticfiles %} 之后，才可使用 {% static 'path' %} 引用静态文件 -->
{#setting.py文件中INSTALLED_APPS中包含下列语句django.contrib.staticfiles#}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="UTF-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}首页{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    <!-- 增加样式 -->
</head>

<body>
    <!-- 引入导航栏 -->
    {% include 'header.html' %}
    <div>
    <!-- 预留具体页面的位置 -->
        {% if request.session.is_login %}
            {% block content %}{% endblock content %}
        {% else %}
             <h1 class="text-center text" style="margin: 300px auto;">你尚未登录，需要登录才能查看</h1>
        {% endif %}
    </div>
    <!-- 引入注脚 -->
<!--    {#    {% include 'footer.html' %}#}-->
    <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
    <script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>
    <!-- 引入bootstrap的js文件 -->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <!-- 引入layer的js文件 -->
<!--    {#    <script src="{% static 'layer/layer.js' %}"></script>#}-->
    {% block script %}{% endblock script %}

<!--    <link rel="stylesheet"-->
<!--      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"-->
<!--      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"-->
<!--      crossorigin="anonymous"-->
<!--    >-->
</body>

<script src="../static/live2d/L2Dwidget.min.js"></script>
<script type="text/javascript">
  L2Dwidget.init({
    model: {
      jsonPath: '../static/live2d/tororo/assets/tororo.model.json',
    },
    display: {
      superSample: 2,
      width: 150,
      height: 150,
      position: 'left',
      hOffset: 0,
      vOffset: 0,
    },
    mobile: {
      show: true,
      scale: 1,
      motion: true,
    },
    react: {
      opacityDefault: 0.7,
      opacityOnHover: 0.2,
    }
  })
</script>

</html>
