<!DOCTYPE html>
  <html lang="en">
    <head>
        <link rel="stylesheet" href="/static/xterm/css/xterm.css"  />
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"  />
    </head>
    <body>
{#        <div>#}
{#            <botton class="btn btn-success">重新连接</botton>#}
{#            <botton class="btn btn-success">退出连接</botton>#}
{#        </div>#}
        <div id="terminal"></div>
    </body>
<script src="/static/xterm/js/xterm.js"></script>
<script src="/static/jquery/jquery-3.4.1.js"></script>
{#<script src="/static/xterm/js/ssh.js"></script>#}
    <script>
    var window_width = $(window).width();
    var window_height = $(window).height();
    var term = new Terminal(
    {
        cols : Math.floor(window_width/10.6),     //列数
        rows : Math.floor(window_height/21.5),   //行数
        convertEol : true,  //启用时，光标将设置为下一行的开头
        cursorBlink : true, //光标闪烁
        fontSize : 18,
        rendererType : "canvas",  //渲染类型
        theme : {
          foreground : 'yellow', //字体
          background : '#060101', //背景色
          cursor : 'help',//设置光标
        }
    }
          );
$(function () {
    var sock = new WebSocket("ws://" + window.location.host + "{% url 'linux_connect' newlinux.id %}");
    // 打开webssh页面就打开web终端，并且打开websocket通道
    sock.addEventListener("open",function () {
        term.open(document.getElementById('terminal'));
        term.writeln('等待10s，出现命令行表示连接成功，没有出现则表示连接失败,然后去检查配置吧。');
        term.writeln('webssh终端使用完之后，使用exit退出终端');
        term.writeln('auther: wuqixiang');    //这里连接失败是表示ssh连接失败.
    });
    //获取从ssh通道获取的outdata
    sock.addEventListener("message",function (recv) {
        term.write(recv.data);
        });
    //输入shelldata并发送到后台
    term.on("data",function (data) {
        sock.send(data)
        });
    window.sock=sock;
});
    </script>
  </html>