<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>linux首页</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">服务器的简单监控系统</h1>
  <p class="lead">当你支撑不了自己的野心，就安静的学习吧</p>
  <hr class="my-2">
  <p>系统使用的django2.1+python3.6写的，看着有点low，但是会慢慢改善。</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>
</body>
{% endblock content %}
</html>