<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>linux首页</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">服务器的简单监控系统</h1>
  <p class="lead">当你支撑不了自己的野心，就安静的学习吧</p>
  <hr class="my-2">
  <p>系统使用的django2.1+python3.6写的，看着有点low，但是会慢慢改善。</p>
   <a class="btn btn-primary btn-lg" href="https://github.com/helloworldff/centos--info--collect" role="button">github地址</a>
   <div style="position:absolute;left: 650px;top: 120px">
     <h5>目前实现的功能： <br>
     1. 连接linux服务器，获取基本的服务器信息；<br>
     2. 实现了webssh，网页端连接服务器；       <br>
     3. 密码管理.                              <br>
     4. 基础的监控管理</h5>                    <br>
   </div>
</div>
<div style="position:absolute;left: 1080px; top: 60px">
    <img src="{% static 'images/rectangle.jpg' %}">
</div>
</body>
{% endblock content %}
</html>