<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>linux首页</title>
</head>
<body>
<table class="table table-bordered">
    <thred>
        <th class="text-center h3"><strong>服务器信息</strong></th>
        <th class="text-center">
            <a class="btn btn-success" type="button" href="{% url 'linux_local' %}" title="服务器详细信息">详细信息</a>
        </th>
    </thred>
</table>
<table class="table table-bordered">
    <thred>
        <th class="text-center">本地服务器外网IP</th>
        <th class="text-center">本地服务器内网IP</th>
    </thred>
    <tr class="text-center">
        <td>{{ outside_ip }}</td>
        <td>{{ intranet_ip }}</td>
    </tr>
</table>
</div>
</body>
{% endblock content %}
</html>