<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新Linux主机信息</title>
</head>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body>
<div class="container">
        </br>
            <!-- 提交文章的表单 -->
        <form id="testform" method="post" action="#" enctype="multipart/form-data">
            <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
            <div class="row" style="margin-left: 300px">
                <div class="form-group">
                    <label><b>服务器名称</b></label>
                    <input type="text" class="form-control" id="linux_name" name="linux_name" value="{{ linux.linux_name }}">
                </div>
                <div class="col-1"></div>
                <div class="form-group">
                    <label><b>主机IP地址</b></label>
                    <input type="text" class="form-control" id="linux_ip" name="linux_ip" value="{{ linux.linux_ip }}">
                </div>
            </div>

            <div class="row" style="margin-left: 300px">
                <div class="form-group">
                    <label><b>主机的主机名</b></label>
                    <input type="text" class="form-control" id="linux_hostname" name="linux_hostname" value="{{ linux.linux_hostname }}">
                </div>
                <div class="col-1"></div>
                <div class="form-group">
                    <label><b>SSH端口</b></label>
                    <input type="text" class="form-control" id="linux_port" name="linux_port" value="{{ linux.linux_port }}">
                </div>
            </div>

            <div class="row" style="margin-left: 300px">
                <div class="form-group">
                    <label><b>用户名</b></label>
                    <input type="text" class="form-control" id="linux_user" name="linux_user" value="{{ linux.linux_user}}">
                </div>
                <div class="col-1"></div>
                <div class="form-group">
                    <label><b>密码</b></label>
                    <input type="password" class="form-control" id="linux_passwd" name="linux_passwd" value="{{ linux.linux_passwd }}">
                </div>
            </div>

            <div class="row" style="margin-left: 300px">
                <div class="form-group input-xlarge">
                    <label><b>主机上的服务</b></label>
                    <textarea type="text" class="form-control" style="width: 260%;line-height: 4" id="linux_app" name="linux_app">{{ linux.linux_app }}</textarea>
                </div>
            </div>

            <div class="row" style="margin-left: 300px">
                <!-- 测试按钮 -->
                <button type="button" class="btn btn-success" style="width: 15%;font-size: 15px;font-weight: bold;" id="ajax_test" >测试连接</button>
                <!-- 复制按钮 -->
                <div class="col-1"></div>
                    <button type="button" class="btn btn-success" style="width: 10%;font-size: 15px;font-weight: bold;" id="copy_form">复制</button>
                <!-- 提交按钮 -->
                <div class="col-1"></div>
                    <button type="submit" class="btn btn-success" style="width: 15%;font-size: 15px;font-weight: bold;">更新</button>
            </div>
        </form>
</div>
{% endblock content %}
{% block script %}
<script>
    $('#ajax_test').click(function () {
        $.ajax({
            url:'/connect_test/',
            type:'POST',
            data:$('#testform').serialize(),
            async:true,
            success:function (data) {
                alert(data);
            }
            })
    })
</script>

<script>
    $('#copy_form').click(function () {
        $.ajax({
            url:'/linux_copy/',
            type:'POST',
            data:$('#testform').serialize(),
            async:true,
            success:function (data) {
                alert(data);
            }
            })
    })
</script>

{% endblock script %}
</body>
</html>